.percent-frame {
    display: flex;
    width: 408px;
    height: 136px;
    padding: 8px 75px 14px 75px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    background: var(--Neutral-neutral-200, #F8F8F8);
}

.title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
}

.percentage {
    color: var(--Neutral-neutral-600, #151618);
    text-align: center;

    /* Desktop/H1 Heading */
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 150% */
    letter-spacing: 0.96px;
}

.school {
    color: var(--Neutral-neutral-500, #5B5E65);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
}


.change {
    color: var(--Neutral-neutral-500, #5B5E65);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.link {
    display: flex;
    width: 52px;
    height: 48px;
    padding: 0px 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.link Link {
    color: #2874BB;
    text-align: center;
    font-family: Roboto;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 600% */
    letter-spacing: 0.24px;
    text-decoration-line: underline;
}

.content {
    margin-top: 3%;
    height: 80%;
    display: flex;
    gap: 0px;
}

.link {
    width: 40%;
    height: 10%;
    align-self: flex-end;
    justify-content: right;
}